html, body {
    height: 100%;
    cursor: default;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-left: 30%;
    padding: 0px 10px;
    text-align: center;
}

.carpet {
    display: grid;
    gap: 0px 0px;
    width: 750px;
    grid-template-columns: auto auto auto auto auto;
    height: fit-content;
    border: 3px solid black;
    margin-left: 45%;
}

.carpet > div {
    width: 150px;
    height: 150px;
    background-color: tan;
}

.redMess {
    visibility: hidden;
}

.yellowMess {
    visibility: hidden;
}

.brownMess {
    visibility: hidden;
}

#redSoap1 {
    visibility: visible;
}
#redSoap4 {
    visibility: visible;
}
#redSoap7 {
    visibility: visible;
}
#redSoap10 {
    visibility: visible;
}
#redSoap13 {
    visibility: visible;
}
#redSoap16 {
    visibility: visible;
}
#redSoap19 {
    visibility: visible;
}
#redSoap22 {
    visibility: visible;
}
#redSoap25 {
    visibility: visible;
}