@font-face {
    font-family: 'kollektifregular';
    src: url('./fonts/kollektif-webfont.woff2') format('woff2'),
         url('./fonts/kollektif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kollektifbold';
    src: url('./fonts/kollektif-bold-webfont.woff2') format('woff2'),
         url('./fonts/kollektif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kollektifbold_italic';
    src: url('./fonts/kollektif-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/kollektif-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kollektifitalic';
    src: url('./fonts/kollektif-italic-webfont.woff2') format('woff2'),
         url('./fonts/kollektif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 90%;
    cursor: default;
    background-color: #7DB1D6;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A8D381;
    overflow-x: hidden;
}

#logo {
    margin-left: 10%;
}

#messSelectInfo {
    font-family: "kollektifregular" , "Arial";
    text-align: center;
    font-size: 20px;
}

#carpetCleanerSelectInfo {
    font-family: "kollektifregular" , "Arial";
    text-align: center;
    font-size: 20px;
}

#scoreTracker {
    font-family: "kollektifregular", "Arial";
    font-size: 32px;
    text-align: center;
}

#labelScore {
    font-family: "kollektifbold" , "Arial";
    font-size: 32px;
}
#highScoreSubmit {
    font-family: "kollektifregular" , "Arial";
    font-size: 20px;
}
.getHighScoresRow {
    display: flex;
}
#getHighScoresBtn {
    font-family: "kollektifregular" , "Arial";
    font-size: 20px;
}
.getHighScores {
    flex-grow: 1;
    text-align: center;
}

#nameFieldInfo {
    font-family: "kollektifregular", "Arial";
    font-size: 20px;
    text-align: center;
}
#pName {
    font-family: "kollektifregular", "Arial";
    font-size: 20px;
}

h1 {
    font-family: "kollektifbold", "Arial";
    font-size: 72px;
}
#cleaningInstructions {
    font-family: "kollektifregular" , "Arial";
    font-size: 20px;
}

.main {
    margin-left: 30%;
    padding: 0px 5px;
    text-align: center;
    background-color: 7DB1D6;
    font-family: "kollektifregular";
}

.carpet {
    display: grid;
    gap: 0px 0px;
    width: 750px;
    grid-template-columns: auto auto auto auto auto;
    height: fit-content;
    border: 3px solid black;
    margin-left: 47%;
}

.carpet > div {
    width: 150px;
    height: 150px;
    background-color: tan;
}

.buttonsRow {
    display: flex;
}
.messButton {
    flex-grow: 1;
    text-align: center;
}
.messButtonStyles {
    font-family: "kollektifregular" , "Arial";
    font-size: 20px;
}

.imagesRow {
    display: flex;
    margin-left: 11%
}
.carpetCleanerSelector {
    flex-grow: 1;
}

/* CSS for Making Messes */
.redMess {
    visibility: hidden;
}
.yellowMess {
    visibility: hidden;
}
.brownMess {
    visibility: hidden;
}

/* CSS for Soapy to Clean */
#redSoap1 {
    visibility: visible;
}
#yellowSoap2 {
    visibility: visible;
}
#brownSoap3 {
    visibility: visible;
}
#redSoap4 {
    visibility: visible;
}
#yellowSoap5 {
    visibility: visible;
}
#brownSoap6 {
    visibility: visible;
}
#redSoap7 {
    visibility: visible;
}
#yellowSoap8 {
    visibility: visible;
}
#brownSoap9 {
    visibility: visible;
}
#redSoap10 {
    visibility: visible;
}
#yellowSoap11 {
    visibility: visible;
}
#brownSoap12 {
    visibility: visible;
}
#redSoap13 {
    visibility: visible;
}
#yellowSoap14 {
    visibility: visible;
}
#brownSoap15 {
    visibility: visible;
}
#redSoap16 {
    visibility: visible;
}
#yellowSoap17 {
    visibility: visible;
}
#brownSoap18 {
    visibility: visible;
}
#redSoap19 {
    visibility: visible;
}
#yellowSoap20 {
    visibility: visible;
}
#brownSoap21 {
    visibility: visible;
}
#redSoap22 {
    visibility: visible;
}
#yellowSoap23 {
    visibility: visible;
}
#brownSoap24 {
    visibility: visible;
}
#redSoap25 {
    visibility: visible;
}